<form method="post" id="pm-search" action="{S_PM_ACTION}">
	<div class="search-box" style="float: left">
		<fieldset>
			<input class="inputbox search tiny" type="text" name="keywords" id="search_keywords" size="20" value="{SEARCH_KEYWORDS}" onclick="if (this.value == '{LA_SEARCH_PM_FOLDERS}') this.value = '';" onblur="if (this.value == '') this.value = '{LA_SEARCH_PM_FOLDERS}';" />
			<input type="hidden" name="mode" value="search" />
			<input type="hidden" name="start" value="0" />
			<input class="button2" type="submit" value="{L_SEARCH}" />
 		&nbsp;<a href="{S_PM_SEARCH_ADVANCED}" onclick="if(document.getElementById('pm-search-advanced').style.display == 'none') {document.getElementById('pm-search-advanced').style.display = 'block';} else {document.getElementById('pm-search-advanced').style.display = 'none';} return false;">{L_SEARCH_ADV}</a><br />
		</fieldset>
	</div>
	<div id="pm-search-advanced" style="padding-top: 2.8em; display: {DISPLAY_ADVANCED};">
		<div>
			<fieldset>
				<p>{L_PM_SEARCH_EXPLAIN}</p>
				<dl style="border-bottom: 1px solid #DDDDDD;">
					<dt style="width: 70%; padding-right: 3px;"><label>{L_PM_SEARCH_ALL_WORDS}:</label><br /><span>{L_PM_SEARCH_ALL_WORDS_EXPLAIN}</span></dt>
					<dd>
						<label><input type="radio" name="all_words" value="1" <!-- IF S_SEARCH_ALL_WORDS -->checked="checked" <!-- ENDIF -->/>{L_YES}</label>
						<label><input type="radio" name="all_words" value="0" <!-- IF not S_SEARCH_ALL_WORDS -->checked="checked" <!-- ENDIF -->/>{L_NO}</label>
					</dd>
				</dl>
				<dl style="border-bottom: 1px solid #DDDDDD;">
					<dt style="width: 70%; padding-right: 3px;"><label>{L_SEARCH_WITHIN}:</label></dt>
					<dd>
						<label><input type="radio" name="within" value="{C_PM_BOTH}" <!-- IF S_WITHIN_BOTH -->checked="checked" <!-- ENDIF -->/>{L_BOTH}</label>
						<label><input type="radio" name="within" value="{C_PM_SUBJECT}" <!-- IF S_WITHIN_SUBJECT -->checked="checked" <!-- ENDIF -->/>{L_SUBJECT}</label>
						<label><input type="radio" name="within" value="{C_PM_MESSAGE}" <!-- IF S_WITHIN_MESSAGE -->checked="checked" <!-- ENDIF -->/>{L_MESSAGE}</label>
					</dd>
				</dl>
				<dl style="border-bottom: 1px solid #DDDDDD;">
					<dt style="width: 70%; padding-right: 3px;"><label>{L_PM_SEARCH_WORD_ONLY}:</label><br /><span>{L_PM_SEARCH_WORD_ONLY_EXPLAIN}</span></dt>
					<dd>
						<label><input type="radio" name="word" value="1" <!-- IF S_WORD_ONLY -->checked="checked" <!-- ENDIF -->/>{L_YES}</label>
						<label><input type="radio" name="word" value="0" <!-- IF not S_WORD_ONLY -->checked="checked" <!-- ENDIF -->/>{L_NO}</label>
					</dd>
				</dl>
				<dl style="border-bottom: 1px solid #DDDDDD;">
					<dt style="width: 70%; padding-right: 3px;"><label>{L_PM_SEARCH_EXACT_QUERY}:</label><br /><span>{L_PM_SEARCH_EXACT_QUERY_EXPLAIN}</span></dt>
					<dd>
						<label><input type="radio" name="exact" value="1" <!-- IF S_SEARCH_EXACT -->checked="checked" <!-- ENDIF -->/>{L_YES}</label>
						<label><input type="radio" name="exact" value="0" <!-- IF not S_SEARCH_EXACT -->checked="checked" <!-- ENDIF -->/>{L_NO}</label>
					</dd>
				</dl>
				<dl style="border-bottom: 1px solid #DDDDDD;">
					<dt style="width: 70%; padding-right: 3px;"><label>{L_PM_SEARCH_CURRENT}:</label><br /><span>{L_PM_SEARCH_CURRENT_EXPLAIN}</span></dt>
					<dd>
						<label><input type="radio" name="current" value="1" <!-- IF S_SEARCH_CURRENT -->checked="checked" <!-- ENDIF -->/>{L_YES}</label>
						<label><input type="radio" name="current" value="0" <!-- IF not S_SEARCH_CURRENT -->checked="checked" <!-- ENDIF -->/>{L_NO}</label>
					</dd>
				</dl>
				<dl style="border-bottom: 1px solid #DDDDDD;">
					<dt style="width: 70%; padding-right: 3px;"><label>{L_PM_SEARCH_CASE}:</label><br /><span>{L_PM_SEARCH_CASE_EXPLAIN}</span></dt>
					<dd>
						<label><input type="radio" name="case" value="1" <!-- IF S_SEARCH_CASE -->checked="checked" <!-- ENDIF -->/>{L_YES}</label>
						<label><input type="radio" name="case" value="0" <!-- IF not S_SEARCH_CASE -->checked="checked" <!-- ENDIF -->/>{L_NO}</label>
					</dd>
				</dl>
				<dl style="border-bottom: 1px solid #DDDDDD;">
					<dt style="width: 70%; padding-right: 3px;"><label>{L_PM_SEARCH_AUTHOR}:</label><br /><span>{L_PM_SEARCH_AUTHOR_EXPLAIN}</span></dt>
					<dd>
						<label><input type="radio" name="author" value="{C_PM_BOTH}" <!-- IF S_PM_BOTH -->checked="checked" <!-- ENDIF -->/>{L_BOTH}</label>
						<label><input type="radio" name="author" value="{C_PM_SENDER}" <!-- IF S_PM_SENDER -->checked="checked" <!-- ENDIF -->/>{L_SENDER}</label>
						<label><input type="radio" name="author" value="{C_PM_RECIPIENT}" <!-- IF S_PM_RECIPIENT -->checked="checked" <!-- ENDIF -->/>{L_RECIPIENT}</label>
						<label><input type="radio" name="author" value="0" <!-- IF not S_PM_BOTH and not S_PM_SENDER and not S_PM_RECIPIENT -->checked="checked" <!-- ENDIF -->/>{L_NO}</label>
					</dd>
				</dl>
			</fieldset>
		</div>
	</div>
</form>
